includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - config/
        - database/
        - resources/
        - routes/
        - bootstrap/

    level: 5
